@model ISM6225_Assignment4.Models.countyNameViewModel
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>

<head>



    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="./css/main.css">

    <title>Assignment - 4</title>

</head>

<body>
    <div class="header">
        <h2>FISHING ACCESS AREAS  </h2>
        <p>The table below provides public access to waters in Vermont for shore fishing opportunities and launching of water craft. The data was sourced from https://www.geodata.vermont.gov/.</p>
    </div>

    <form asp-controller="FishingAreas" asp-action="Index" method="get">
        <p>
            <select asp-for="countyName" asp-items="Model.Countys">
                <option value="">All</option>
            </select>

            <input type="submit" value="Search by County" />
        </p>
    </form>



    <table id="tblData">
        <tr>
            <th>WaterBody</th>
            <th>Town</th>
            <th>County</th>
            <th>BoatSize</th>
            <th>RampType</th>
            <th>UniversalAccess</th>
            <th>Details</th>
        </tr>

        @foreach (var fishingArea in Model.FishingAreas)
        {

    <tr>
        <td>@fishingArea.WaterBody</td>
        <td>@fishingArea.Town</td>
        <td>@fishingArea.County</td>
        <td>@fishingArea.BoatSize</td>
        <td>@fishingArea.RampType</td>
        <td>@fishingArea.UniversalAccess</td>
        <td>
            <a asp-action="Details" asp-route-id="@fishingArea.id">Details</a>

        </td>
    </tr>

        }

    </table>
</body>

</html>

@section Scripts{
    <script>src = "~/js/fishingArea.js"</script>

}